

<div class="col-xs-12 col-sm-4">
  <h1><%= @restaurant.name %></h1>
  <ul class="list-group">
    <li class="list-group-item">
      Address : <%= @restaurant.address %>
    </li>
    <li class="list-group-item">
      Phone : <%= @restaurant.phone_number %>
    </li>
    <li class="list-group-item">
      Category : <%= @restaurant.category %>
    </li>
    <h3>Reviews of this restaurant</h3>
    <% @restaurant.reviews.each do |r| %>
      <li>Content : <%= r.content %></li>
      <li>Rating : <%= r.rating %></li>
    <% end %>
  </ul>

  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  <%= link_to "Back", restaurants_path, class: "btn btn-primary" %>

</div>

